<!DOCTYPE html>

<html lang="en">

    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" href="{{ ico }}">
        <title>Sign Up</title>
    </head>

    <style>
    .center
      {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

     .display-3
     {
         text-align:center;
     }

     .btn
     {
         margin-left: 42%;
         margin-top: auto;
     }

    </style>

<body>
    <img src="{{ order }}" style="width:50%;" class = "center">
    <h1 class="display-3">Order Placed Sucessfully</h1>
    <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Click here to continue</a>
</body>