<!DOCTYPE html>

<html lang="en">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="{{ Logo }}" width="50" height="50" class="d-inline-block align-top" alt="" >
      <img src="{{ Name }}" width="230" height="50" class="d-inline-block align-top" alt="">
    </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="features">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="specs">Tech Specs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pricing">Buy</a>
    </li>
    </ul>
  </div>
  <span>
    <a class="nav-link" href="orders">My Orders</a>
  </nav>

    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <title>Tech Specs</title>

    </head>

    <style>
    h1
    {
      color: black;
      text-align:center;
      font-size: 500%;
    }

    body
    {
      background-image: url("{{ spec }}");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    td
    {
      font-size: 130%;
    }

    th
    {
      font-size: 150%;
    }

    </style>

    <body>
      <h1>Technical Specifications</h1>
      <table class="table table-hover">
  <tbody>
    <tr>
      <th scope="row">Dimensions</th>
      <td>85.6mm x 53.98mm x 10mm</td>
    </tr>
    <tr>
      <th scope="row">Colours</th>
      <td>Black</td>
      <td>White</td>
    </tr>
    <tr>
      <th scope="row">Processor</th>
      <td colspan="2">Qualcomm X55</td>
    </tr>
    <tr>
      <th scope="row">Wi-Fi</th>
      <td colspan="2">Transmission Standard: 802.11ac/a/n 2 x 2 & 802.11b/g/n 2 x 2, MIMO</td>
      <td>Wireless Transmission Rate: 2.4GHz 300Mbps (Theoretical value), 5GHz 867Mbps</td>
    </tr>
    <tr>
      <th scope="row">Interface</th>
      <td colspan="2">USB-C Power Delivery</td>
      <td>2 x USB-A Ports to use as Power Bank</td>
    </tr>
    <tr>
      <th scope="row">Connectivity</th>
      <td colspan="2">Wi-Fi 6</td>
      <td>Bluetooth 5.0 wireless technology</td>
    </tr>
    <tr>
      <th scope="row">Battery + Powerbank</th>
      <td colspan="2">Upto 9 hrs of Battery Life</td>
      <td>2000mAh Power Bank inbuilt</td>
    </tr>
    <tr>
      <th scope="row">Charging</th>
      <td colspan="2">Supports Fast Charging</td>
    </tr>
  </tbody>
</table>
    </body>